/* Tweak default slate values */
[data-md-color-scheme="slate"] {
    --md-default-bg-color: hsla(var(--md-hue), 17%, 9%, 1);
    --md-container-bg-color: hsla(var(--md-hue), 17%, 8%, 1);

    --md-code-bg-color: rgba(255, 255, 255, 0.05);
    --md-code-fg-color: hsla(var(--md-hue), 18%, 100%, 0.95);

    --md-default-fg-color: hsla(var(--md-hue), 8%, 75%, 0.9);
    --md-default-fg-color--light: hsla(var(--md-hue), 15%, 75%, 0.56);
    --md-default-fg-color--lighter: hsla(var(--md-hue), 15%, 75%, 0.32);
    --md-default-fg-color--lightest: hsla(var(--md-hue), 15%, 75%, 0.12);

    --md-fg-elevated: hsla(var(--md-hue), 8%, 90%, 0.95);
    --md-fg-white: hsla(var(--md-hue), 8%, 100%, 1);

    --md-border-radius: 16px;
}


/* Header colors for admonitions */
.warning {
    --md-fg-elevated: #ffa733;
}

.abstract {
    --md-fg-elevated: #4dc6ff;
}

.tip {
    --md-fg-elevated: #3df2da;
}

.info {
    --md-fg-elevated: #40e6ff;
}

.example {
    --md-fg-elevated: #b499ff;
}

.success {
    --md-fg-elevated: #39e681;
}

.failure {
    --md-fg-elevated: #ff8080;
}

.note {
    --md-fg-elevated: #448aff;
}

.question {
    --md-fg-elevated: #77e92f;
}

/* Admonition Tweaks */
div.admonition {
    border-radius: var(--md-border-radius) !important;
    background-color: var(--md-container-bg-color) !important;
}

p.admonition-title {
    border-radius: var(--md-border-radius) !important;
    color: var(--md-fg-elevated);
}

:not(:has(> :last-child:first-child)) > p.admonition-title {
    border-radius: var(--md-border-radius) var(--md-border-radius) 0 0 !important;
}

details {
    border-radius: var(--md-border-radius) !important;
}

details > summary {
    border-radius: var(--md-border-radius) !important;
    color: var(--md-fg-elevated);
}

details[open] > summary {
    border-radius: var(--md-border-radius) var(--md-border-radius) 0 0 !important;
    color: var(--md-fg-elevated);
}


/* Nav & Header Tweaks */
h1, h2, h3, h4, h5, h6 {
    color: var(--md-fg-white) !important;
    font-weight: 600 !important;
}

.md-sidebar--primary a.md-nav__link--active {
    background-color: hsla(var(--md-hue), 48%, 48%, 0.15);
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    translate: -12px 0;
    font-weight: bold;
}

.md-nav__title, .md-nav__item--nested > label {
    margin-top: 16px;
    color: var(--md-fg-elevated) !important;
}

/* Container Tweaks */
table {
    border-radius: var(--md-border-radius) !important;
    background-color: var(--md-container-bg-color) !important;
}

.filename {
    background-color: transparent !important;
    border: none !important;
    padding-bottom: 4px !important;
}

div.highlight code {
    border-radius: var(--md-border-radius) !important;
    border-width: 1px;
    border-style: solid;
    border-color: var(--md-default-fg-color--lightest);
    --md-code-hl-name-color: var(--md-default-fg-color);
}

p > code {
    padding: 2px 8px 2px 8px !important;
    border-radius: 4px !important;
}

.tabbed-set {
    border-radius: 16px !important;
    border-width: 1px;
    border-style: solid;
    border-color: var(--md-default-fg-color--lightest);
    background: var(--md-container-bg-color);
}

.tabbed-block {
    padding: var(--md-border-radius) !important;
}

div.highlight code {
    background: var(--md-container-bg-color);
}

/* Search Box */
.md-search:not(:has(.md-search-result__list[role=list])) form {
    border-radius: var(--md-border-radius) !important;
    transition: all 200ms
}

.md-search:has(.md-search-result__list[role=list]) form {
    border-radius: var(--md-border-radius) var(--md-border-radius) 0 0 !important;
    transition: all 200ms;
}

.md-search__output {
    border-radius: 0 0 var(--md-border-radius) var(--md-border-radius) !important;
}

/* Misc */
.md-button {
    border-radius: 16px !important;
}